{% extends 'hospitalauth/base.html' %}
{% load static %}
{% block content %}

                    <div class="container mt-4 pt-2">
                        <h4>Suppliers Available </h4>
                            <br>
                            {% for i in query.each %}

                                    <div class="card my-3 bg-light p-3" style="display:flex; flex-direction: row; justify-content: space-between;">
                                        <div class="">
                                            <h5>{{ i.val.Supplier_Name }}</h5>
                                        <i>{{ i.val.Address }}, {{ i.val.city }}</i>
                                            <div class="mt-3">
                                                <span>Available supplies - </span>
                                                {% for j,k in i.val.available_supplies.items %}
                                                    {% if k == 'yes' %}
                                                        <span>{{ j }} | </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="">
                                            <a class="btn text-white requestbtn mx-2" href="{% url 'place_order' i.key %}"  style="background-color : #1565c0;">Request</a>
                                            <a href="{% url 'chat' i.val.Supplier_Name|slugify %}" class="btn btn-light border ml-2" >contact</a>
                                        </div>
                                    </div>

                            {% endfor %}
                    </div>

{% endblock  %}