{% extends 'supplierauth/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if messages %}
                    {% for i in messages %}
                        <div class="alert alert-{{ i.tags }}">
                            {{ i }}
                        </div>
                    {% endfor %}
        {% endif %}
        <h2 class="ml-3" > Orders Recieved </h2>
        {% if orders.each %}
            {% for i in orders.each %}
            <div class="container-fluid">
                <div class=" p-3 my-3 border bg-light rounded ">
                <h5>Recieved from - {{ i.key }}</h5>
                <div class="row">
                    {% for j,k in i.val.items %}
                        {% if j != 'order_status' %}
                            <div class="col-md-3">
                            <div class="card bg-light my-2">
                                <div class="card-body">

                                    <img src="{% static 'hospitalauth/' %}{{j}}.JPG" style="max-width:100%" class="card-img-top">
                                    <br>
                                    <br>
                                    <h5 class="card-title text-center">{{ j }} - {{ k }}</h5>


                                </div>
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                 <div class="row mt-2" style="display:flex; justify-content:flex-end;">
                        <a href="{% url 'confirm_order' i.key|slugify %}" class="btn requestbtn text-white mx-2" style="background-color : #1565c0">Confirm Order</a>
                        <a href="{% url 'contact' i.key|slugify %}" class="btn bg-light border ml-2" >Contact</a>
                 </div>

            </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No Orders Recieved ! Add Supplies to your dashboard</p>
        {% endif %}


    </div>
{% endblock %}